* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sans {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
.mono {
  font-family: 'JetBrains Mono', 'SF Mono', SFMono-Regular, ui-monospace, Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
}

.system,
.light {
  color-scheme: light;

  --background: #FFFFFF;
  --surface: #FFFFFF;

  --primary: rgba(0,0,0,0.85);
  --secondary: rgba(0,0,0,0.25);

  --accent-result: #197864;
  --accent-variable: #244993;
  --accent-error: #AA4938;

  --stroke: rgba(0,0,0,0.08);

  --link-hover: rgba(0,0,0,0.08);
  --link-active: rgba(0,0,0,0.11);
}

.dark {
  color-scheme: dark;

  --background: #202124;
  --surface: #202124;

  --primary: rgba(255,255,255,0.85);
  --secondary: rgba(255,255,255,0.25);

  --accent-result: #97C4BB;
  --accent-variable: #97A6C4;
  --accent-error: #CD9990;

  --stroke: rgba(255,255,255,0.08);

  --link-hover: rgba(255,255,255,0.08);
  --link-active: rgba(255,255,255,0.11);
}

@media (prefers-color-scheme: dark) {
  .system {
    color-scheme: dark;

    --background: #202124;
    --surface: #202124;

    --primary: rgba(255,255,255,0.85);
    --secondary: rgba(255,255,255,0.25);

    --accent-result: #97C4BB;
    --accent-variable: #97A6C4;
    --accent-error: #CD9990;

    --stroke: rgba(255,255,255,0.1);

    --link-hover: rgba(255,255,255,0.1);
    --link-active: rgba(255,255,255,0.15);
  }
}

html,
body {
  height: 450px;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}

.hidden {
  opacity: 0;
}

.app {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  transition: opacity 250ms ease-out;
}

.input {
  color: var(--primary);
  background-color: transparent;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  position: relative;
  flex: 0 0 62%;
  tab-size: 3;
}

.display {
  background-color: var(--surface);
  color: var(--primary);
  border-left: 1px solid var(--stroke);
  flex: 0 0 38%;
}

.input,
.display {
  font-size: 15px;
  line-height: 1.4;
  min-height: 100vh;
  overflow-y: visible;
  overflow-x: auto;
  padding: 20px;
  white-space: pre;
}

.input[placeholder]:empty:before {
  color: var(--secondary);
  content: attr(placeholder);
  pointer-events: none;
  position: absolute;
}

.input[placeholder]:empty:focus:before {
    content: "";
}

.result {
  color: var(--accent-result);
}

.variable {
  color: var(--accent-variable);
}

.result,
.variable {
  padding: 1px 6px;
  border-radius: 999px;
  position: relative;
  left: -6px;
}

.error {
  cursor: default;
  color: var(--accent-error);
}

.result:hover,
.variable:hover {
  cursor: pointer;
  background-color: var(--link-hover);
}

.result:active,
.variable:active {
  background-color: var(--link-active);
}
