* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 450px;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}

.hidden {
  opacity: 0;
}

.app {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  transition: opacity 250ms ease-out;
}

.input {
  color: var(--primary);
  background-color: transparent;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  position: relative;
  flex: 0 0 62%;
  tab-size: 3;
}

.display {
  background-color: var(--surface);
  color: var(--primary);
  border-left: 1px solid var(--stroke);
  flex: 0 0 38%;
}

.input,
.display {
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  overflow-y: visible;
  overflow-x: auto;
  padding: 20px;
  white-space: pre;
}

.display * {
  font-size: 16px;
  line-height: 24px;
}

.result-btn {
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input[placeholder]:empty:before {
  color: var(--secondary);
  content: attr(placeholder);
  pointer-events: none;
  position: absolute;
}

.input[placeholder]:empty:focus:before {
  content: "";
}

.result {
  color: var(--accent-result);
}

.variable {
  color: var(--accent-variable);
}

.result,
.variable {
  padding: 0 6px;
  border-radius: 999px;
  position: relative;
  left: -6px;
}

.error {
  cursor: default;
  color: var(--accent-error);
}

.result:hover,
.variable:hover {
  cursor: pointer;
  background-color: var(--link-hover);
}

.result:active,
.variable:active {
  background-color: var(--link-active);
}
