.sans {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.mono {
  font-family: "JetBrains Mono", "SF Mono", SFMono-Regular, ui-monospace, Menlo,
    Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

:root {
  color-scheme: light;
}

.system,
.light {
  --background: #ffffff;
  --surface: #ffffff;

  --primary: rgba(0, 0, 0, 0.85);
  --secondary: rgba(0, 0, 0, 0.25);

  --accent-result: #197864;
  --accent-variable: #244993;
  --accent-error: #aa4938;

  --stroke: rgba(0, 0, 0, 0.08);

  --link-hover: rgba(0, 0, 0, 0.08);
  --link-active: rgba(0, 0, 0, 0.11);
}

.dark {
  color-scheme: dark !important;

  --background: #202124;
  --surface: #202124;

  --primary: rgba(255, 255, 255, 0.85);
  --secondary: rgba(255, 255, 255, 0.25);

  --accent-result: #97c4bb;
  --accent-variable: #97a6c4;
  --accent-error: #cd9990;

  --stroke: rgba(255, 255, 255, 0.08);

  --link-hover: rgba(255, 255, 255, 0.08);
  --link-active: rgba(255, 255, 255, 0.11);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  .system {
    --background: #202124;
    --surface: #202124;

    --primary: rgba(255, 255, 255, 0.85);
    --secondary: rgba(255, 255, 255, 0.25);

    --accent-result: #97c4bb;
    --accent-variable: #97a6c4;
    --accent-error: #cd9990;

    --stroke: rgba(255, 255, 255, 0.1);

    --link-hover: rgba(255, 255, 255, 0.1);
    --link-active: rgba(255, 255, 255, 0.15);
  }
}
